<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Đường dẫn cơ sở Firebase -->
		<add key="FirebaseBasePath" value="https://chatapp-ca701-default-rtdb.asia-southeast1.firebasedatabase.app/" />

		<!-- Mã bí mật AuthSecret -->
		<add key="FirebaseAuthSecret" value="j0kBCfIQBOBtgq5j0RaocJLgCuJO1AMn2GS5qXqH" />
	</appSettings>

	<!-- ===== Cấu hình môi trường chạy ứng dụng ===== -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- ===== Cấu hình liên kết thư viện Newtonsoft.Json ===== -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
